<h1 class="text-center"><u>Rates</u></h1>

<div ng-if="!vm.showRatesTab" class="alert alert-info" role="alert">Loading... Please wait for data to load.</div>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-primary">
            
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" name="pageRatesGeneral" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Page Rates - General
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div ng-show="vm.showRatesTab" class="panel-body container-fluid">
                <div ng-include="'Public/scripts/rates/views/rates.general.html'"></div>
            </div>
            <div ng-show="vm.showRatesTab" class="panel-footer">
                <div class="row">
                    <!--<fieldset ng-disabled="isTimingOut">-->
                    <div class="pull-right table-button">
                        <button class="btn-sm btn-primary"
                                type="submit"
                                ng-init="vm.ratesData.ParentAdTypeID = 1"
                                ng-click="vm.saveRates()"
                                ng-disabled="vm.isTimingOut">
                            Save
                        </button>
                        <!--</fieldset>-->
                    </div>
            </div>
        </div>
    </div>
        </div>
    <div ng-cloak class="panel panel-primary" ng-if="vm.ratesData.PublisherName === 'Conde Nast'">
        <div class="panel-heading" role="tab" id="headingSix">
            <h4 class="panel-title">
                <a class="collapsed" name="pageRatesRetail" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    Page Rates - Retail
                </a>
            </h4>
        </div>
        <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
            <div ng-show="vm.showRatesTab" class="panel-body container-fluid">
                <div ng-include="'Public/scripts/rates/views/rates.retail.html'"></div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <!--<fieldset ng-disabled="isTimingOut">-->
                    <div class="pull-right table-button">
                        <button class="btn-sm btn-primary"
                                type="submit"
                                ng-init="vm.ratesData.ParentAdTypeID = 1"
                                ng-click="vm.saveRates()"
                                ng-disabled="vm.isTimingOut">
                            Save
                        </button>
                        <!--</fieldset>-->
                    </div>
            </div>
        </div>
    </div>
        </div>
    <div class="panel panel-primary">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <a class="collapsed" name="scentStrips" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Scent Strips
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div ng-show="vm.showRatesTab" class="panel-body container-fluid">
                <div ng-include="'Public/scripts/rates/views/rates.scentStrips.html'"></div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="pull-right table-button">
                        <button class="btn-sm btn-primary"
                                type="submit"
                                ng-init="vm.ratesData.ParentAdTypeID = 4"
                                ng-click="vm.saveRates()"
                                ng-disabled="vm.isTimingOut">
                            Save
                        </button>
                    </div>
            </div>
        </div>
    </div>
        </div>
    <div class="panel panel-primary">
        <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
                <a class="collapsed" name="inserts" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Inserts
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div ng-show="vm.showRatesTab" class="panel-body container-fluid">
                <div ng-include="'Public/scripts/rates/views/rates.inserts.html'"></div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <!--<fieldset ng-disabled="isTimingOut">-->
                    <div class="pull-right table-button">
                        <button class="btn-sm btn-primary"
                                type="submit"
                                ng-init="vm.ratesData.ParentAdTypeID = 2"
                                ng-click="vm.saveRates()"
                                ng-disabled="vm.isTimingOut">
                            Save
                        </button>
                        <!--</fieldset>-->
                    </div>
            </div>
        </div>
    </div>
        </div>
    <div class="panel panel-primary">
        <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
                <a class="collapsed" name="brcCards" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    BRC Cards
                </a>
            </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <div ng-show="vm.showRatesTab" class="panel-body contaier-fluid">
                <div ng-include="'Public/scripts/rates/views/rates.brcCards.html'"></div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <!--<fieldset ng-disabled="isTimingOut">-->
                    <div class="pull-right table-button">
                        <button class="btn-sm btn-primary"
                                type="submit"
                                ng-init="vm.ratesData.ParentAdTypeID = 3"
                                ng-click="vm.saveRates()"
                                ng-disabled="vm.isTimingOut">
                            Save
                        </button>
                        <!--</fieldset>-->
                    </div>
            </div>
        </div>
    </div>
        </div>
    <div class="panel panel-primary">
        <div class="panel-heading" role="tab" id="headingFive">
            <h4 class="panel-title">
                <a class="collapsed" name="advertorial" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Advertorial
                </a>
            </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
            <div ng-show="vm.showRatesTab" class="panel-body container-fluid">
                <div ng-include="'Public/scripts/rates/views/rates.advertorial.html'"></div>

            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="pull-right table-button">
                        <button class="btn-sm btn-primary"
                                type="submit"
                                ng-init="vm.ratesData.ParentAdTypeID = 1"
                                ng-click="vm.saveRates()"
                                ng-disabled="vm.isTimingOut">
                            Save
                        </button>
                    </div>
            </div>
        </div>
    </div>
</div>
</div>

